<%= render "common/menu", current_page: "cart" %>

<main class="bg-white px-4 pt-16 pb-24 sm:px-6 sm:pt-24 lg:px-8 lg:py-32">
  <div class="mx-auto max-w-3xl">
    <div class="max-w-xl">
      <h1 class="text-base font-medium text-indigo-600">Oops!</h1>
      <p class="mt-2 text-4xl font-bold tracking-tight">Your order has not been proceed successfully.</p>
      <p class="mt-2 text-base text-gray-500">Please click the following button to retry again. </p>
      <div class="relative flex flex-grow items-stretch focus-within:z-10">
        <a href="/cart/" class="w-full">
          <button type="button" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            View Shopping Cart
          </button>
        </a>
      </div>
    </div>


  </div>
</main>
